<div id="period_work_dates_inside">

  <%= label_tag :work_date, "Fecha" %><br />
  <%= select_tag "absence[work_date_id]", options_from_collection_for_select(work_dates, :id, :date) %>

  <%= render 'periods/schedules', :schedules => schedules, :schedule => schedules.first %>

  <script>
  jQuery('#period_schedules_select').change(function(){
    var schedule_id = jQuery(this).find('option:selected').val();
    jQuery.get('/schedules/' + schedule_id + '/schedule_blocks', function(data){
      jQuery("#period_schedules_schedule_blocks_checkboxes").html(data);
    });
    return false;

  });
  </script>


</div>
