<% if target.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(target.errors.count, "errores") %> prohibieron que este registro fuera salvado:</h2>

  <ul>
    <% target.errors.full_messages.each do |msg| %>
    <li>
    <p><%= msg %> </p>
    </li>
    <% end %>
  </ul>
  </p>
  </div>
<% end %>
