<%= render 'employees/left_menu' %>


<div class="grid_9">

  <h1>Nueva Inasistencia para <%= @employee.full_name %></h1>

  <%= render 'form' %>

</div>

<div id="period_work_dates_select">
  <%= render 'periods/dates', :work_dates => @work_dates, :schedules => @schedules, :schedule => @schedules.first %>
</div>


<script type="text/javascript" charset="utf-8">
  jQuery('#period').change(function(){
      var period_id = jQuery(this).find('option:selected').val();
      jQuery.get('/periods/' + period_id + '/dates', function(data){
        jQuery("#period_work_dates_select").html(data);
        });
      return false;

      });


jQuery('#period_schedules_select').change(function(){
    var schedule_id = jQuery(this).find('option:selected').val();
    jQuery.get('/schedules/' + schedule_id + '/schedule_blocks', function(data){
      jQuery("#period_schedules_schedule_blocks_checkboxes").html(data);
      });
    return false;

    });

</script>

