<%= render 'left_menu' %>

<div class="grid_9">

  <div class="box">

    <h2>
      <a href="#" id="toggle-paragraphs">Datos la Inasistencia</a>
    </h2>
    <div class="block" id="paragraphs">

      <p id="notice"><%= notice %></p>

      <p>
      <b>Descripción:</b>
      <%= @absence.description %>
      </p>

    </div>
  </div>
</div>
