<h1>
  ASISTOMATIC
</h1>
<li>
  <%= link_to "Empleados", employees_path %>
</li>
<li>
  <%= link_to "Períodos", periods_path %>
</li>
<li>
  <%= link_to "Inasistencias", absences_path %>
</li>
<li>
  <%= link_to "Justificationes", justifications_path %>
</li>
