<%= render 'employees/left_menu' %>

<div class="grid_9">

  <div class="box">

    <h2>
      <a href="#" id="toggle-paragraphs">Datos de la Justificación</a>
    </h2>
    <div class="block" id="paragraphs">

      <p id="notice"><%= notice %></p>

      <p>
      <b>Descripción:</b>
      <%= @justification.description %>
      </p>

      <p>
      <b>¿Es válida?</b>
      <%= @justification.is_valid? %>
      </p>


    </div>
  </div>
</div>
