<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @justification.description %>
</p>

<p>
  <b>Is justified:</b>
  <%= @justification.is_justified %>
</p>

<p>
  <b>Absence:</b>
  <%= @justification.absence_id %>
</p>
